<div class="row">
    <div class="col-md-12">
        <h2>{{viewData.student.firstName}} {{viewData.student.lastName}} - Student: {{viewData.student.studentNum}}</h2>
        <form method="post" action="/student/update">
            <fieldset>
                <legend>Personal Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstName">First Name:</label>
                            <input class="form-control" id="firstName" name="firstName" type="text" value="{{viewData.student.firstName}}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Last Name:</label>
                            <input class="form-control" id="lastName" name="lastName" type="text" value="{{viewData.student.lastName}}" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class="form-control" id="email" name="email" type="email" value="{{viewData.student.email}}" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="addressStreet">Address (Street):</label>
                            <input class="form-control" id="addressStreet" name="addressStreet" type="text" value="{{viewData.student.addressStreet}}" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="addressCity">Address (City):</label>
                            <input class="form-control" id="addressCity" name="addressCity" type="text" value="{{viewData.student.addressCity}}" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="addressProvince">Address (Province):</label>
                            <input class="form-control" id="addressProvince" name="addressProvince" type="text" value="{{viewData.student.addressProvince}}" />
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Academic Information</legend>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="status">Status:</label>
                            <select class="form-control" name="status" id="status">
                                <option value="Full Time" {{#equal viewData.student.status "Full Time"}}selected{{/equal}}>Full Time</option>
                                <option value="Part Time" {{#equal viewData.student.status "Part Time"}}selected{{/equal}}>Part Time</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="course">Program:</label>
                            {{#if viewData.courses}}
                                <select class="form-control" name="course" id="course">
                                    <option value="">Select Course</option>
                                    {{#each viewData.courses}}
                                        <option value="{{courseId}}" {{#if selected}} selected {{/if}} >{{courseCode}} </option>
                                    {{/each}}
                                </select>
                            {{else}}
                                <div>No Courses</div>
                            {{/if}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="TA" id="TA" {{#if viewData.student.TA}}checked{{/if}} />
                            <label class="form-check-label" for="TA">Teaching Assistant</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />
            <input type="submit" class="btn btn-primary pull-right" value="Update Student" /><br /><br /><br />
            <input type="hidden" name="studentNum" value="{{viewData.student.studentNum}}" />
        </form>
    </div>
</div>
